@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.wrapper {
  min-width: 1024px;
}

nav li {
  padding: 0.75rem;
}

.sidebar {
  z-index: 10;
  background-color: #131827;
}

a {
  color: #ffffff;
}

a:hover {
  color: #EE5EEC;
}

.active {
  color: #5469d4;
  font-weight: 600;
}

.btn {
  transition: 0.2s ease-in;
}

/* tailwind */

.table-row-headers {
  @apply flex bg-gray-100 font-bold p-2 text-left items-center border-r border-b border-gray-200;
}

.table-row-headers-end {
  @apply flex bg-gray-100 font-bold p-2 text-left items-center border-b border-gray-200;
}

.table-cell {
  @apply border-r border-b border-gray-200 p-2;
}

.table-cell-end {
  @apply border-b border-gray-300 p-2;
}